apiVersion: v1
kind: ConfigMap
metadata:
  name: notebook-config
  namespace: {{ namespace }}
data:
  config.py: |-
    {{ lookup('file', 'files/' + config_file) | indent(4) }}
  e2e-notebook.ipynb: |-
    {{ lookup('file', 'files/' + notebook_file) | indent(4) }}
