nameOverride: argo-workflows
serviceName: argo-workflows-server
server:
  replicas: 1
  authModes:
    - "server"
  servicePort: 2746
  secure: true
crds:
  install: true
workflow:
  rbac:
    create: true
controller:
  replicas: 1
  workflowDefaults:
    spec:
      imagePullSecrets:
      - name: ngc-secret
      podMetadata:
        annotations:
          openshift.io/required-scc: nonroot
      securityContext:
        runAsUser: 1000
        runAsGroup: 2000
