apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
  {{- if .Labels }}
    {{- .Labels | yaml | nindent 4 }}
  {{- end }}
  annotations:
  {{- if .Annotations }}
    {{- .Annotations | yaml | nindent 4 }}
  {{- end }}
spec:
  predictor:
    {{- if .MinReplicas }}
    minReplicas: {{ .MinReplicas }}
    {{- end }}
    {{- if or (eq .DeploymentMode "RawDeployment") (eq .DeploymentMode "Standard") }}
    {{- if .MaxReplicas }}
    maxReplicas: {{ .MaxReplicas }}
    {{- end }}
    {{- if .ScaleMetricType }}
    scaleMetricType: {{ .ScaleMetricType }}
    {{- end }}
    {{- if .ScaleMetric }}
    scaleMetric: {{ .ScaleMetric }}
    {{- end }}
    {{- if .ScaleTarget }}
    scaleTarget: {{ .ScaleTarget }}
    {{- end }}
    deploymentStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 25%
        maxSurge: 0
    {{- end }}
    labels:
    {{- if .SelectorLabels }}
      {{- .SelectorLabels | yaml | nindent 6 }}
    {{- end }}
    annotations:
    {{- if .PodAnnotations }}
      {{- .PodAnnotations | yaml | nindent 6 }}
    {{- end }}
    {{- if .SchedulerName }}
    schedulerName: {{ .SchedulerName }}
    {{- end }}
    serviceAccountName: {{ .ServiceAccountName }}
    runtimeClassName: {{ .RuntimeClassName }}
    initContainers:
    {{- range .InitContainers }}
    - name: {{ .Name }}
      image: {{ .Image }}
      {{- if .ImagePullPolicy }}
      imagePullPolicy: {{ .ImagePullPolicy }}
      {{- end }}
      {{- if .Command }}
      command:
        {{ .Command | yaml | nindent 8 }}
      {{- end }}
      {{- if .Args}}
      args:
        {{ .Args| yaml | nindent 8 }}
      {{- end }}
      {{- if .WorkingDir }}
      workingDir: {{ .WorkingDir }}
      {{- end }}
      {{- if .Env }}
      env:
        {{ .Env | yaml | nindent 8 }}
      {{- end }}
      {{- with .Resources }}
      resources:
        {{ . | yaml | nindent 8 }}
      {{- end }}
    {{- end }}
    containers:
    - name: {{ .ContainerName }}
      ports:
      {{- if .Ports }}
        {{- .Ports | yaml | nindent 8 }}
      {{- end }}
      image: {{ .Image }}
      imagePullPolicy: {{ .ImagePullPolicy }}
      volumeMounts:
      {{- range .VolumeMounts }}
      - name: {{ .Name }}
        mountPath: {{ .MountPath }}
        subPath: {{ .SubPath }}
        readOnly: {{ .ReadOnly }}
      {{- end }}
      env:
      {{- if .Env }}
        {{- .Env | yaml | nindent 8 }}
      {{- end }}
      {{- with .Resources }}
      resources:
        {{ . | yaml | nindent 8 }}
      {{- end }}
      {{- with .LivenessProbe }}
      livenessProbe:
        {{ . | yaml | nindent 8 }}
      {{- end }}
      {{- with .ReadinessProbe }}
      readinessProbe:
        {{ . | yaml | nindent 8 }}
      {{- end }}
      {{- with .StartupProbe }}
      startupProbe:
        {{ . | yaml | nindent 8 }}
      {{- end }}
      {{- if .PodResourceClaims }}
    resourceClaims:
      {{- .PodResourceClaims | yaml | nindent 8 }}
    {{- end }}
    volumes:
    {{- range .Volumes }}
    - name: {{ .Name }}
      {{- if .ConfigMap }}
      configMap:
        name: {{ .ConfigMap.Name }}
        {{- if .ConfigMap.Items }}
        items:
          {{- range .ConfigMap.Items }}
          - key: {{ .Key }}
            path: {{ .Path }}
          {{- end }}
        {{- end }}
      {{- end }}
      {{- if .Secret }}
      secret:
        secretName: {{ .Secret.SecretName }}
        defaultMode: {{ .Secret.DefaultMode }}
      {{- end }}
      {{- if .EmptyDir }}
      emptyDir:
        medium: {{ .EmptyDir.Medium }}
        {{- if .EmptyDir.SizeLimit }}
        sizeLimit: {{ .EmptyDir.SizeLimit }}
        {{- end }}
      {{- end }}
      {{- if .PersistentVolumeClaim }}
      persistentVolumeClaim:
        claimName: {{ .PersistentVolumeClaim.ClaimName }}
        readOnly: {{ .PersistentVolumeClaim.ReadOnly }}
      {{- end }}
      {{- if .HostPath }}
      hostPath:
        path: {{ .HostPath.Path }}
        type: {{ .HostPath.Type }}
      {{- end }}
    {{- end }}
    {{- if .NodeSelector }}
    nodeSelector:
      {{- range $key, $value := .NodeSelector }}
      {{ $key }}: {{ $value }}
      {{- end }}
    {{- end }}
    {{- if .Tolerations }}
    tolerations:
      {{- range .Tolerations }}
      - key: {{ .Key | quote }}
        operator: {{ .Operator | quote }}
        value: {{ .Value | quote }}
        effect: {{ .Effect | quote }}
      {{- end }}
    {{- end }}
    {{- with .Affinity }}
    affinity:
      {{ . | yaml | nindent 6 }}
    {{- end }}
    {{- if .ImagePullSecrets }}
    imagePullSecrets:
    {{- range .ImagePullSecrets }}
      - name: {{ . }}
    {{- end }}
    {{- end }}
    {{- if or (eq .DeploymentMode "RawDeployment") (eq .DeploymentMode "Standard") }}
    securityContext:
      {{- if eq .OrchestratorType "TKGS" }}
      seccompProfile:
        type: RuntimeDefault
      {{- end }}
      {{- if .UserID }}
      runAsUser: {{ .UserID }}
      {{- end }}
      {{- if .GroupID }}
      runAsGroup: {{ .GroupID }}
      fsGroup: {{ .GroupID }}
      {{- end }}
    {{- end }}
