apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Name }}
  namespace: {{ .Namespace }}
  labels:
  {{- if .Labels }}
    {{- .Labels | yaml | nindent 4 }}
  {{- end }}
rules:
  {{- if .Rules }}
    {{- .Rules | yaml | nindent 2 }}
  {{- end }}
