---
apiVersion: apps.nvidia.com/v1alpha1
kind: NemoEntitystore
metadata:
  labels:
    app.kubernetes.io/name: k8s-nim-operator
    app.kubernetes.io/managed-by: k8s-nim-operator
  name: nemoentitystore-sample
  namespace: nemo
spec:
  image:
    repository: nvcr.io/nvidia/nemo-microservices/entity-store
    tag: "25.03"
    pullPolicy: IfNotPresent
    pullSecrets:
      - ngc-secret
  env:
    - name: BASE_URL_DATASTORE
      value: http://nemodatastore-sample.nemo.svc.cluster.local:3000
  expose:
    service:
      type: ClusterIP
      port: 8000
  databaseConfig:
    databaseName: nesdb
    host: entity-store-pg-postgresql.nemo.svc.cluster.local
    port: 5432
    credentials:
      user: nesuser
      secretName: entity-store-pg-existing-secret
      passwordKey: password
