auth:
  username: {{ postgresql.username }}
  password: {{ postgresql.password }}
  database: {{ postgresql.database }}
architecture: standalone
primary:
  persistence:
    storageClass: {{ '"local-path"' if localPathProvisioner.enabled else pvc.storage_class | to_json }}
    accessModes:
      - {{ 'ReadWriteOnce' if localPathProvisioner.enabled else pvc.volume_access_mode }}
    enabled: true
    size: 500Mi