auth:
  rootUser: {{ minio.username }}
  rootPassword: {{ minio.password }}
mode: standalone
persistence:
  enabled: true
  size: 1Gi
  storageClass: {{ '"local-path"' if localPathProvisioner.enabled else '""' }}
  annotations:
    helm.sh/resource-policy: keep
