global:
  storageClass: {{ '"local-path"' if localPathProvisioner.enabled else '""' }}

postgresql:
  enabled: true
  auth:
    username: {{ mlflow.postgresql_username }}
    password: {{ mlflow.postgresql_password }}
  image:
    repository: bitnamilegacy/postgresql

tracking:
  enabled: true
  auth:
    enabled: false
  runUpgradeDB: false
  service:
    type: ClusterIP
  resourcesPreset: medium

run:
  enabled: false
image:
  repository: bitnamilegacy/mlflow
gitImage:
  repository: bitnamilegacy/git
waitContainer:
  image:
    repository: bitnamilegacy/os-shell
minio:
  image:
    repository: bitnamilegacy/minio
