apiVersion: v1
kind: Secret
metadata:
  name: customizer-pg-existing-secret
  namespace: {{ namespace }}
type: Opaque
stringData:
  password: {{ postgresql.password }}

---
apiVersion: v1
kind: Secret
metadata:
  name: wandb-secret
  namespace: {{ namespace }}
type: Opaque
stringData:
  apiKey: {{ wandb.apikey }}
  encryptionKey: {{ wandb.encryptionkey }}
