name: Lint Helm Charts

on:
  push:
    branches:
      - main
      - release-*
      - "pull-request/[0-9]+"

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      name: Checkout code
    - name: Set up Helm
      uses: azure/setup-helm@v4.2.0
      with:
        version: v3.14.4
    - name: Lint Helm Charts
      run: helm lint deployments/helm/*
